* {
    box-sizing: border-box;
    overflow: auto;
    font-size: 35px;
}

.container {
    margin: 0 auto;
    display: block;
    float: none;
    position: relative;
    /* width: 40vw; */
    font-family: 'Luckiest Guy', cursive;
    font-size: 20px;
    text-align: center;
}

img {
    width: 300px;
}